@import "tailwindcss";

html {
  scroll-behavior: auto;
}

:root {
--color-warm-ivory: #FFFAF0;
  --color-deep-mocha: #3E2723;
  --color-soft-gold: #3E2723;
  --color-pure-black: #000000;
  --color-cloud-grey: #E3E1DE;
}

.bg-warm-ivory { background-color: var(--color-warm-ivory); }
.bg-deep-mocha { background-color: var(--color-deep-mocha); }

.text-deep-mocha { color: var(--color-deep-mocha); }
.text-soft-gold { color: var(--color-soft-gold); }
.text-pure-black { color: var(--color-pure-black); }
.border-cloud-grey { border-color: var(--color-cloud-grey); }
